<div class="row">
    <p class="col-xs-12">
        <strong>&ldquo;{{item.name}}&rdquo;</strong>
        (assigned to <a href="/{{item.owner}}">{{item.owner}}</a>)
        tied to <a href="/{{item.location}}">{{item.location}}</a> <a href="/{{item.timezone}}">{{item.timezone}}</a>:
    </p>
    <div class="col-xs-12 md missing">{{item.description}}</div>
</div>
