{{item.name}}
(<a href="mailto:{{item.email}}?subject=Eunomia"><code>{{item.email}}</code></a>)
based in <a href="/{{item.location}}">{{item.location}}</a>{{#if item.travelling}},
temporarily in <a href="/{{item.travelling}}">{{item.travelling}}</a>
{{/if}}
